*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}


main {
   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: auto;
    gap: 20px;
}
body{
    width: auto;
    height: 100vh;
    overflow: hidden;
    background-image: url(./PICTURES/Marvel_Entertainment_Logo_29.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    width: 300px;
    height: 455px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3.5em;
    perspective: 2500px;
    cursor: pointer;
}


.cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    transition:all 0.5s ;
    position: relative;
    width: 100%;
    z-index: -1;
    background: #000;
    box-shadow: rgba(0,0,0,0.25)0px 14px 28px, rgba(0,0,0,0.22)0px 10px 10px;
}
.wrapper img{
    box-shadow: rgba(0,0,0,0.25)0px 14px 28px rgba(0,0,0,0.22)0px 10px 10px;
}
.card:hover .wrapper{
    transform: perspective(900px) translateY(-5%)rotateX(25deg)translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow:2px 35px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
}
.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width:100%;
    height:100%;
    transition:all 0.5s;
    border-radius:30px;
    position:absolute;
    left:0;
    box-shadow:rgba(0,0,0,0.25)0px 14px 28px, rgba(0,0,0,0.22)0px 10px 10px;
}
.wrapper::before{
    top:0;
    height: 10px;
}
.wrapper::after{
    bottom: 0;
    opacity: 1;
}
.card:hover .wrapper::before, .wrapper::after{
    opacity: 1;
}
.card:hover .wrapper::after{
    height:100%;
}
.card:hover .cover{
    opacity: 0.3;
}
.hover-img{
    width: 200px;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px #000);
    position: absolute;
    z-index: -1;
}
.card:hover .hover-img{
    opacity:1;
    transform:translate3d(5%, -20%, 670px);
}
.header {
    color:white;
    height:20vh;
    text-align: center;
    display:flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    position:relative;
    background-color: rgb(20, 16, 16);
    
}

.header-container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.header h1 {
   
    font-size: 50px;
    text-transform:uppercase;
    text-shadow: 5px 5px 3px rgb(22, 19, 19);
    letter-spacing:10px;
}
.footer{
    font-size: 2em;
    text-align: center;
    position:center;
    background-color: rgb(228, 224, 224);
}